* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(244,244,244);
}
nav {
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    justify-self: center;
    margin: auto;
    align-items: center;
    padding: 20px;
}

nav p {
    font-weight: 400;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: rgb(102, 102, 102);
    cursor: pointer;

}

nav>p+img {
    height: 32px;
    cursor: pointer;
}

.navchild {
    display: flex;

    background-color: rgba(115, 118, 129, 0.438);
    border: 2px solid black;
    background-image: url(./images/bg.jpg);
    background-size: 100%;
    padding: 10px;
    color: white;


}

.navchild p {
    margin-left: 40px;
    font-weight: 400;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
   
}
.navchild p:first-child{ margin-left: 110.90px;}

main {
    display: flex;
    justify-content: space-evenly;
    background-image: url(./images/bg.jpg);
    background-size: 100%;
    color: white;
    padding: 20px;


}
main>div>div+div{
    margin-top: 40px;
}

main>div>div+div>div {
    display: flex;
    justify-content: space-evenly;
    gap: 20px;
    margin-top: 10px;
   
}

main>div:nth-child(1) button {
    height: 39px;
    font-size: 18px;
    background-color: rgb(15, 137, 178);
    color: white;
    font-weight: 400;
    border: none;
    margin-left: -5.0px;
    align-items: center;
    cursor: pointer;
    width: 90px;
    position: relative;
    top: 1px;
}

main input {
    height: 20px;
    padding: 5px;
    border: 4px solid silver;
    margin-left: -7px;




}

main input:first-child {
    width: 400px;
}
main>div:nth-child(2) button{ 
    width: 200px;
    height: 49px;
    background-color: rgb(255,136,0);
    color: white;
    border: none;
    margin-bottom: 5px;
    cursor: pointer;
    font-size: 20px;
}
main>div:nth-child(2){
    text-align: center;
    background-color: rgb(232,232,232);
    color: rgb(102,102,102);
    padding: 20px;
    
}
main>div:nth-child(2) h2{
    color: rgb(27,162,207);
    font-size: 23px;
    margin-bottom: 10px;
    font-weight: 400;
}
main>div:nth-child(2) h2+p{
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
}main>div>div>div {
   margin-top: 50px;
    align-items: center;
}
main>div>div p:first-child{
background-color: rgb(34,45,57);
color: white;
padding: 10px;
}
main>div>div>div p{
    cursor: pointer;
}

* {
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background: rgb(244,244,244);
}
.brjob{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: auto;
    background-color: white;
    margin-top: 40px;
    margin-bottom: 40px;

}
.brjob>div{
    border-bottom: 0.5px solid silver;
    padding: 10px;
}
.brjob>div:last-child{
    text-align: right;
}
.brjob>div:last-child button{
   background-color: transparent;
   color: rgb(82,153,207);
   border: none;
   font-size: 14px;
   font-weight: 400;
   padding: 10px;
}
.brjob>div:first-child{
    font-size: 14px;
    font-weight: 300;
    
}
.brjobchild{
    display: flex;
    gap: 40px;
    font-size: 12px;
    font-weight: 300;
    justify-self: center;
    margin: auto;
    justify-content: center;
    margin-bottom: 40px;
    color: rgb(102, 102, 102);
 
}
.brjobchild>div>div{
    display: grid;
    grid-template-columns: repeat(2,215px);
    gap: 10px;
}
.brjobchild button{
    text-align: right;
    background-color: transparent;
   color: rgb(82,153,207);
   border: none;
   font-size: 14px;
   font-weight: 400;
   padding: 10px;
   width: 200px;
}
.brjobchild>div>div:last-child button{
    text-align: right;
    cursor: pointer;
}
.brjobchild h3{
    border-bottom: 0.5px solid silver;
    padding-bottom: 10px;
    margin-bottom: 40px;
}
.brjobchild>div{
    background-color: white;
    padding: 40px;
}
.brjobchild>div>div:last-child{
    text-align: right;
    display: flex;
    justify-content: right;
    margin-top: 20px;
 
   
}
footer{
    display: flex;
    background-color: rgb(46,51,57);
    justify-content: space-evenly;
}
footer h3,footer h2{
    color: rgb(238,237,237);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}
footer p{
    color: rgb(182, 184, 186);
    font-size: 12px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    
    margin-bottom: 10px;
}
.footerchild{
    display: flex;
    width: 80%;
    justify-self: center;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;

}